@import "./utils/variables";

@import "./base/base";
@import "./components/conteiner";
@import "./components/section";
@import "./components/modal";
@import "./utils/placeholder";
@import "./layout/logo";
@import "./layout/header";
@import "./layout/portfolio";
@import "./layout/footer";