.advantages-list-item::before {
    content: "";
    display: block;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;   
}
@media screen and (max-width: 767px) {
    .advantages-list-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.icon-antenna::before {
    background-image: url(../images/icon/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/icon/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/icon/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/icon/astronaut.svg);
}

.advantages-subtitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .advantages-list-item {
        width: calc((100% - 4 * 15px) /2);
        margin: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-list-item {
        width: calc((100% - 8 * 15px) /4);
        margin: 15px;
    }
}
