.advantages-list-item::before {
    content: "";
    display: block;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
}
.icon-antenna::before {
    background-image: url(../images/icon/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/icon/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/icon/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/icon/astronaut.svg);
}
.advantages .conteiner {
    display: flex;
}
.advantages-list{
    display: flex;
}
.advantages-list-item:not(:last-child){
    margin-right: 30px;
}
.advantages-subtitle {
    margin-top: 30px;
    margin-bottom: 10px;
}