.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px){
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
    &:hover,
    &:focus {
        color: $accent-color;
    }

}
.menu-btn .icon-close {
    display: none;
}
.menu-btn.is-open .icon-close {
    display: block;
}
.menu-btn.is-open .icon-menu {
    display: none;
}

.menu-conteiner {
    background-color: #fff;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 453px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);


        &.is-open {
            display: block; 
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
} 
 
.navigation-list {
    text-align: center;

    @media screen and (max-width: 767px){
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}
@media screen and (min-width: 768px) {  
    .navigation-list-item:not(:last-child) {
        margin-right: 50px;
    }
    .header-contacts{
        margin-left: 84px;  
    }
    .header .conteiner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1200px) {
    .header-mail-link {
        margin-right: 30px;
    }
    .header-contacts {
        display: flex;
        margin-left: 305px;
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list-link {
    @extend %font-for-navigation-link;
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
    @media screen and (min-width: 768px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.current {
    color: $accent-color;

    &::after {
        content: "";
        display: block;
        position: absolute;
        
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
    }
}


.header-mail-link,
.header-tel-link {
    @extend %font-for-navigation-link;
    color: $text-description-color;
    text-align: center;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }

    }
}
 
.header-mail-link-svg, 
.header-tel-link-svg {
    fill: currentcolor; 
    
    @media screen and (min-width:768px) {
        margin-right: 10px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}