.logo-header {
    @extend %font-for-logo;
    color: #000000;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
        
    }
}
.logo-element {
    @extend %font-for-logo;
    color: $accent-color;

    @media screen and (min-width: 1200px){
        font-size: 26px;
        line-height: 1.19;
    }
}