.team {
    background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) /2);
        margin: 15px;

        &:hover {
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            border-radius: 0px 0px 4px 4px;
        }
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) /4);
        margin: 15px;
    }
}
@media screen and (max-width: 767px) {
    .team-list-item:not(:last-child) {
        margin-bottom: 30px;
    }
}
.crewman-list-item-img {
    margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
    .crewman-list-item-img {
        display: block;   
        width: 100%;
        height: auto
    }
}

.crewman-list-item-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-light-theme-color;
    margin-bottom: 10px;
}
.crewman-list-item-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-description-color;
    margin-bottom: 16px;
}
.social-list {
    display: flex;
    justify-content: center;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.social-list-item-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $accent-color;
        color: #FFFFFF;
    }
}
.social-list-item-link-svg {
    fill: currentcolor;
    width: 20px;
    height: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
