:root {
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --title-dark-theme-color: #ffffff;
    --title-light-theme-color: #212121;
    --text-description-color: #757575;
    --accent-color: #2196F3;
    }